<div class='columnn'>
  <h2 class='title pb-4'>login:</h2><hr />
  <form class='login-form'>
    <div class="py-3">
      <label for='email-login'>email:</label>
      <input type='text' id='email-login' />
    </div>
    <div class="py-3">
      <label for='password-login'>password:</label>
      <input type='password' id='password-login' />
    </div>
    <div>
      <button type='submit' class='button is-success'>login</button>
      <a href='/signup'><button type='button' class='button is-success'>signup</button></a>
    </div>
  </form>
</div>

<script src='/javascript/login.js'></script>