<div class='column'>
  <h2 class='title pb-4 ml-3'>create new account:</h2><hr />
  <form class='signup-form ml-3'>
    <div class="py-3">
      <label for='username-signup'>username:</label>
      <input type='text' id='username-signup' />
    </div>
    <div class="py-3">
      <label for='email-signup'>email:</label>
      <input type='text' id='email-signup' />
    </div>
    <div class="py-3">
      <label for='github-signup'>GitHub username:</label>
      <input type='text' id='github-signup' />
    </div>
    <div class="py-3">
      <label for='password-signup'>password:</label>
      <input type='password' id='password-signup' />
    </div>
    <div class="py-3">
      <button type='submit' class='button is-success'>signup</button>
    </div>
  </form>
</div>

<!-- javascript file-->
<script src='/javascript/signup.js'></script>